<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.whj.springboot.mapper.CityMapper">

    <resultMap id="BaseResultMap" type="com.whj.springboot.domain.City">
        <result column="id" property="id"/>
        <result column="province_id" property="provinceId"/>
        <result column="city_name" property="cityName"/>
        <result column="description" property="description"/>
    </resultMap>

    <sql id="table">
        w_city
    </sql>

    <sql id="allColumn">
        select id,province_id,city_name,description from w_city
    </sql>
    
    <select id="findByName" resultMap="BaseResultMap"   parameterType="string">
        <include refid="allColumn"/> where city_name  = #{cityName}
    </select>

    <select id="findById" resultMap="BaseResultMap"   parameterType="int">
        <include refid="allColumn"/> where id  = #{id}
    </select>
</mapper>